/* import font */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: Azeret Mono;
    margin: 0px;
}

/*----------------- nav-bar-style start-------------- */

.navbar-style-sec {
    width: 100%;
    height: 100px;



}

.navbar-style-content {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    margin-left: 110px;
    margin-right: 110px;
}

.navbar-style-content p {
    color: rgb(13, 19, 33);

    font-size: 28px;
    font-weight: 800;
}

.navbar-style-content button {
    width: 228px;
    height: 58px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;

}

/*---------------- navbar style end-------------- */


/* --------style background 1 start-----------*/

.background-1 {
    width: 1440px;
    height: 652px;

    margin-top: 2px;
    margin: 0 auto;
    background-image: url(assets/Hero-bg.png);




}

.background-1-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background-1-content img {
    width: 240.28px;
    height: 240px;

    margin-bottom: 32px;

}

.background-1-content h1 {

    font-size: 48px;
    font-weight: 800;
    color: rgb(13, 19, 33);
    text-align: center;
    margin-bottom: 24px;

}

.background-1-content p {
    color: rgb(13, 19, 33);

    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 32px;

}

.background-1-content button {
    width: 250px;
    height: 66px;
    padding: 21px 24px 21px 24px;
    border-radius: 8px;

    background: rgb(13, 19, 33);

}

.background-1-content>button>p {
    width: 208px;
    height: 24px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
}

/* --------style background 1 End-----------*/

/* banner2 style start */

.banner-2 {
    width: 1140px;
    height: 1470px;

    margin: 0 auto;
    margin-top: 74px;
    padding: 80px 97px 80px 97px;
    margin-bottom: 102px;
}

.banner-2-content-1 {
    width: 852px;
    height: 115px;

    margin: 0 auto;
    margin-bottom: 48px;
}

.banner-2-content-1-div h3 {
    color: rgb(13, 19, 33);

    font-size: 32px;
    font-weight: 800;
    text-align: center;
}

.banner-2-content-1-div p {
    color: rgb(13, 19, 33);

    font-size: 16px;
    font-weight: 400;
    text-align: center;

}

.banner-2-content-2 {
    width: 946px;
    height: 336px;

    margin: 0 auto;
    padding: 48px;
    display: flex;
    margin-bottom: 32px;
}

.banner-2-content-2-div-left {
    max-height: 100%;
    max-width: 70%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner-2-content-2-div-left h4 {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;

}

.banner-2-content-2-div-left p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    padding-right: 130px;
}

.banner-2-content-2-div-left button {
    width: 150px;
    height: 48px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;


}

.banner-2-content-2-div-right {
    max-height: 100%;
    max-width: 30%;



}

.banner-2-content-3 {
    width: 946px;
    height: 336px;

    margin: 0 auto;
    padding: 48px;
    display: flex;
    margin-bottom: 32px;

}

.banner-2-content-3-div-left {
    height: 100%;
    width: 35%;


}

.banner-2-content-3-div-left img {
    width: 223.2px;
    height: 208.85px;
}

.banner-2-content-3-div-right {
    height: 100%;
    width: 65%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.banner-2-content-3-div-right h4 {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;

}

.banner-2-content-3-div-right p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    padding-right: 130px;

}

.banner-2-content-3-div-right button {
    width: 150px;
    height: 48px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
}

.banner-2-content-4 {
    width: 946px;
    height: 336px;

    margin: 0 auto;
    padding: 48px;
    display: flex;


}

.banner-2-content-4-div-left {
    max-height: 100%;
    max-width: 70%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner-2-content-4-div-left h4 {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;

}

.banner-2-content-4-div-left p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    padding-right: 130px;
}

.banner-2-content-4-div-left button {
    width: 150px;
    height: 48px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;


}

.banner-2-content-4-div-right {
    max-height: 100%;
    max-width: 30%;


}

/*------------------------ banner 2 style ends  here----------------- */



/* --------------banner 3 style starts---------------------- */

.banner-3 {
    width: 1140px;
    height: 777px;

    margin: 0 auto;
    margin-bottom: 149px;
}

.banner-3-content-1 {
    width: 852px;
    height: 115px;

    margin: 0 auto;
    margin-bottom: 48px;
}

.banner-3-content-1-div h1 {
    color: rgb(13, 19, 33);
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}

.banner-3-content-1-div p {
    color: rgb(13, 19, 33);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.banner-3-content-2 {
    width: 1140px;
    height: 614px;


}

.banner-3-content-2-div iframe {
    padding: 32px;
    width: 1076px;
    height: 550px;
    border-radius: 16px;
}

/* --------------banner 3 style ends here--------------- */


/* ------------banner 4 style start here------------- */

.banner-4 {
    width: 1140px;
    height: 463px;
   
    margin: 0 auto;
}

.banner-4-content-1 {
    width: 852px;
    height: 115px;
   
    margin: 0 auto;
    margin-bottom: 48px;
}

.banner-4-content-1-div h1 {
    color: rgb(13, 19, 33);
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}

.banner-4-content-1-div p {
    color: rgb(13, 19, 33);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.banner-4-content-2 {
    height: 296px;
    width: 1140px;
    
    display: flex;
    gap: 24px;

}

.banner-4-content-2-div-1 {
    width: 364px;
    height: 100%;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    border-radius: 16px;

    background: rgba(255, 76, 30, 0.05);


}

.banner-4-content-2-div-1 img {
    width: 56px;
    height: 56px;
}

.banner-4-content-2-div-1 h5 {
    color: rgb(13, 19, 33);

    font-size: 20px;
    font-weight: 800;
}

.banner-4-content-2-div-1 p {
    color: rgb(13, 19, 33);

    font-size: 13px;
    font-weight: 400;
}

.banner-4-content-2-div-1 a {
    color: rgb(13, 19, 33);

    font-size: 14px;
    font-weight: 700;
}


.banner-4-content-2-div-2 {
    width: 364px;
    height: 100%;
    display: flex;
   
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    border-radius: 16px;

    background: rgba(0, 76, 232, 0.05);


}

.banner-4-content-2-div-2 img {
    width: 56px;
    height: 56px;
}

.banner-4-content-2-div-2 h5 {
    color: rgb(13, 19, 33);

    font-size: 20px;
    font-weight: 800;
}

.banner-4-content-2-div-2 p {
    color: rgb(13, 19, 33);

    font-size: 13px;
    font-weight: 400;
}

.banner-4-content-2-div-2 a {
    color: rgb(13, 19, 33);

    font-size: 14px;
    font-weight: 700;
}


.banner-4-content-2-div-3 {
    width: 364px;
    height: 100%;
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    border-radius: 16px;

    background: rgba(255, 223, 0, 0.05);


}

.banner-4-content-2-div-3 img {
    width: 56px;
    height: 56px;
}

.banner-4-content-2-div-3 h5 {
    color: rgb(13, 19, 33);

    font-size: 20px;
    font-weight: 800;
}

.banner-4-content-2-div-3 p {
    color: rgb(13, 19, 33);

    font-size: 13px;
    font-weight: 400;
}

.banner-4-content-2-div-3 a {
    color: rgb(13, 19, 33);

    font-size: 14px;
    font-weight: 700;
}
/* -----------banner 4 style ends here--------------- */