/* import font */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: Azeret Mono;
    margin: 0px;
}

/*----------------- nav-bar-style start-------------- */

.navbar-style-sec {
    width: 100%;
    height: 100px;



}

.navbar-style-content {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    margin-left: 110px;
    margin-right: 110px;
}

.navbar-style-content p {
    color: rgb(13, 19, 33);

    font-size: 28px;
    font-weight: 800;
}

.navbar-style-content button {
    width: 228px;
    height: 58px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;

}

/*---------------- navbar style end-------------- */


/* --------style background 1 start-----------*/

.background-1 {
    width: 1440px;
    height: 652px;

    margin-top: 2px;
    margin: 0 auto;
    background-image: url(assets/Hero-bg.png);




}

.background-1-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background-1-content img {
    width: 240.28px;
    height: 240px;

    margin-bottom: 32px;

}

.background-1-content h1 {

    font-size: 48px;
    font-weight: 800;
    color: rgb(13, 19, 33);
    text-align: center;
    margin-bottom: 24px;

}

.background-1-content p {
    color: rgb(13, 19, 33);

    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 32px;

}

.background-1-content button {
    width: 250px;
    height: 66px;
    padding: 21px 24px 21px 24px;
    border-radius: 8px;

    background: rgb(13, 19, 33);

}

.background-1-content>button>p {
    width: 208px;
    height: 24px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
}
/* --------style background 1 End-----------*/
